﻿<h1>Hi, {{currentUser.firstName}}!</h1>
<h3>All posts:</h3>
<div class="card">
    <div class="form-control">
        <input type="text" placeholder="Название" [(ngModel)]="todoTitle">
    </div>
    <button type="button" class="btn btn-secondary" (click)="addTodo()">Добавить</button>
</div>

<hr>

<p [innerHTML]="source"></p>

<div class="card" *ngFor="let post of posts">
            <span>
                <h2 [innerHTML]>{{post.title}}</h2>
                <p [innerHTML]>{{post.description}}</p>
            </span>
            <span>
                <button class="btn btn-danger" (click)="deletePost(post.id)">Удалить</button>
            </span>
</div>
